# dependencies
node_modules/

# Expo
.expo/
.expo-shared/
dist/
web-build/

# Native build folders
android/
ios/

# Environment variables
.env
.env.*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Metro / React Native
.metro-health-check*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# TypeScript
*.tsbuildinfo

# OS files
.DS_Store
Thumbs.db
desktop.ini

# IDEs / editors
.vscode/
.idea/
*.swp
*.swo

# Temporary files
*.tmp
*.temp
.cache/
coverage/

# EAS / Expo credentials
.eas/